.home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-image: url("../../assets/img/solarSBg.svg");
  background-repeat: no-repeat;
  background-size:80%;
  background-position: center;
}

.info-title {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;

  background-color: #ffffff12;
  backdrop-filter: blur(10px);
  padding: 3rem 1rem;
  border-radius: 3rem;

  .home-title {
    font-size: 4.8rem;
  }

  .home-subtitle {
    font-size: 2.4rem;
  }
}

.button {
  box-shadow: 3px 4px 0px 0px #fff;
  background: linear-gradient(to bottom, #000000 5%, #000000 100%);
  background-color: #000000;
  border-radius: 5px 5px 30px 5px;
  border: 1px solid #000000;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  padding: 12px 44px;
}

.astronauta {
  width: 100%;
  max-width: 250px;
  animation: astronautFloat 5s infinite alternate;

  position: absolute;
  right: -5rem;
  top: 15rem;
}

.dog {
  position: absolute;
  left: 0rem;
  bottom: 10rem;
  width: 100%;
  max-width: 200px;
  animation: astronautFloat 5s infinite alternate;
}

.earth {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 120px;
  animation: rotate 40s linear infinite;
}

@keyframes astronautFloat {
  0% {
    transform: translateY(0) rotate(0);
  }

  100% {
    transform: translateY(-30px) rotate(6deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes loop {
  0%,
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    transform: translateX(0);
    opacity: 1;
  }
}

// animation: loop 6s linear infinite;

.myButton {
  box-shadow: 3px 4px 0px 0px #ff1499;
  background: linear-gradient(to bottom, #000000 5%, #000000 100%);
  background-color: #000000;
  border-radius: 5px;
  border: 1px solid #000000;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  font-weight: bold;
  padding: 12px 44px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
}
.myButton:hover {
  background: linear-gradient(to bottom, #000000 5%, #000000 100%);
  background-color: #000000;
}
.myButton:active {
  position: relative;
  top: 1px;
}
