@import "../../sass/grid";
header {
  height: 10vh;
  width: 100vw;
  background-color: #ffffff0b;
  backdrop-filter: blur(1rem);
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  z-index: 10000;

  nav {
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 2rem;

      li a {
        font-weight: bold;
        text-decoration: none;
        color: #fff;

        &:hover {
          color: #7a13bf;
        }
      }
    }

    @include device("s") {
      display: none;
    }
  }

  .menu-mobile {
    display: none;
    cursor: pointer;

    @include device("s") {
      display: block;
      width: 3rem;
    }
  }

  nav.active {
    display: block;
    position: absolute;
    top: 10vh;
    right: 0;
    width: 100vw;
    padding: 2rem 0;
    background-color: #000000;
    z-index: 100;
    

    ul {
      flex-direction: column;
      gap: 1rem;
    }
  }
}
