@import "../../sass/grid";

.box-slide {
  background-color: #ffffff08;
  backdrop-filter: blur(1rem);
  border-radius: 3rem;
  height: calc(100vh - 10vh);
  padding: 1rem;



  .box-img {
    width: 100%;
    height: 60%;

    background-position: center;
    background-size: 63%;
    background-repeat: no-repeat;


    @include device("s") {
      background-size: 100%;
      height: 35%;
    }
    
  }


  .info-text {
    width: 100%;
    height: 40%;

    @include device("s") {
      height: 65%;
    }

    .title {
      font-size: 2.8rem;
    }

    p {
      font-size: 1.6rem;
      text-align: justify;

      @include device("s") {
        font-size: 1.4rem;
      }
    }
  }

 
}
