@import "../../sass/grid";

.box-slide {
  background-color: #ffffff08;
  backdrop-filter: blur(1rem);
  border-radius: 3rem;
  height: calc(100vh - 10vh);
  padding: 1rem;

  .box-img {
    width: 100%;
    height: 60%;

    background-position: center;
    background-size: 63%;
    background-repeat: no-repeat;

    @include device("s") {
      background-size: 100%;
      height: 35%;
    }
  }

  .info-text {
    width: 100%;
    height: 40%;
    padding: 2rem;

    overflow: auto;

    &::-webkit-scrollbar {
      width: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #313134;
      height: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: #000000;
      border-radius: 1rem;
    }

    @include device("s") {
      height: 65%;
    }

    .title {
      margin-top: 0.5rem;
      font-size: 2.8rem;

      @include device("s") {
        font-size: 2.4rem;
      }
    }

    p {
      font-size: 1.6rem;
      text-align: justify;
      line-height: 1.6rem;
      letter-spacing: 1px;

      @include device("s") {
        font-size: 1.4rem;
      }
    }
  }
}
